*{
    box-sizing:border-box;
    padding: 0;
    margin:0;}
    body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: white;
        color:pink;
        line-height: 1.6;
    }
    .content h2,p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #left{
        margin-right:80rem;
    }
    #right{
        margin-left:80rem;
    }
    .top{
        position: absolute;
        left:0;
       
    }
    .bottom{position: absolute;
    right:0;
}
.left{position:absolute;
    bottom:0;
}
    
    .first {
         
            align-items: left;
            justify-content: left;
            text-align: left;
           margin: 0px;
            padding:  0px;
        
        
    }
    .second {
        
            display: grid;
            flex-direction: column;
            align-items: right;
            justify-content: right;
            text-align: left;
            
            padding:  0 20px;
        
        
    }
    .third {
        
            display: grid;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            
            padding:  0 20px;
        
        
    }
    .new{
        text-align: center;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 1.5;
        
    }
    .new h2{
       
        font-weight: bold;
    }
    #about{
        padding:2rem;
        margin-left:5rem;
        margin-right: 5rem;
        margin-top: 2rem;
    }
      #about h2{
          
          border-bottom:2px solid orange;
          font-size: 300;
          font-weight: bold;
          margin: 20px 400px;
          width:20%;
      }
      .para{
          border-bottom: 2px solid orange;
      }
    ul{list-style-type: none ;
       
        }
        ul li::before{
            content: "\25A0";
            color: orange;
            font-weight: bold;
            width: 2px;
            
            margin-left:1px;
        }
    a{
        color:orange;
        text-decoration: none;
    }
    h1,h2{font-weight: 300;
    line-height: 1.2;}
    p{margin: 10px 0;}
    img{width:100%;}
    #navbar{display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:gray ;
    color:black;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top:0px;
    padding: 0 30px;}
    .navbar a{color:white;
        padding:10px 20px;
    margin: 0 5PX; }
    #navbar ul li a:hover,
               #navbar ul li a.current{ background: gray;
                color:blue;}
    #navbar ul{display:flex;
       
    }
    .navbar logo{font-weight: 400;}
    .hero{
        background:url('edvin-johansson-rlwE8f8anOc-unsplash.jpg')no-repeat center center/cover;
    height:100vh;
    position: relative;
    color:#fff;
    }
    .hero1{
        background:url('nadine-shaabana-u7PJMJoDYdg-unsplash.jpg')no-repeat center center/cover;
    height:50vh;
    position: relative;
    color:#fff;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        padding:  0 20px;
    
    }
    .content1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        
    
    
    
    }
   
   
    .content h1{
        font-size: 55px;
    }
    .content p{
        font-size: 23px;
        max-width: 600px;
        margin: 20px 0 30px;
    }

    
   
  /*  .content::before{
        content: ' ';
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(0,0,0, 0.6);
    }*/
    .content .d{
    background-color:rgba(0,0,0, 0.6) ;
    color:white;
    
    width: 100%;
    height:40%;
    top:15%;
    bottom: 25%;
    position: absolute;
    margin-top:8%;
    z-index: 10;
    
}
.d p{ margin-left:25rem;
    justify-content: center;
    align-items: center;
}
    .d{
        z-index:10;
    }
   
    .content *{
        z-index: 10;
    }
    .bottom *{
        z-index: 10;
    }
    .left *{
        z-index: 10;
    }
    .icons{
        padding: 30px;
    }
    .icon h3{
        font-weight: bold;
        margin-bottom: 15px;
    }
    .icons i{
        cursor:pointer;
        background-color:orange;
        color:white;
        padding:2rem;
        border-radius: 100%;
        margin-bottom:15px;
        position: relative;
    }
    .icons i:hover, .icons i.current{
    
        
        background-color:white;
        color:orange;
        padding:2rem;
        border-radius: 100%;
        margin-bottom:15px;
        border:1px gray solid;

    }
    .except2 i {
        background-color:white;
        color:orange;
        padding:2rem;
        border-radius: 100%;
        margin-bottom:15px;
    

    }
    .right{
        justify-content: center;
        padding:50px;
        margin-left: 500px;
       
    }
    #cases{
        color:black;
        background-color: white;
    }
    #contact-form h3,p{
        margin-top: 15px;

    }
    form {
       
       align-items: center;
       justify-content: center;
        margin-left:70px;
        margin-right:70px;
        margin-top: 12px;
     

    }
    #contact-form {
       justify-content: center;
        
    }
    
    .formgroup textarea{
        margin-left:12px;
        padding: 5px;
        width: 850px;
        margin-bottom: 10px;
        margin-top: 15px; 
    color: white;
     height:200px;
         

    }
    ::placeholder{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
   
    .formgroup input{
        width: 275px;
        height: 50px;
         border:1px #fff solid; 
         color:white;
        margin-left:12px;
        margin-bottom: 10px;
        margin-top: 15px;
        padding: 5px;
    
        
    }

    .formgroup button{
      
       margin-left: 40%;
       align-items: center;
       justify-content:center;
        
    
        
    }
    #contact-form h3,
        #contact-form p{
        text-align: center;
    }
   
    
    
       
          

    
    .row1 img:hover{ 
        opacity:0.9;
    }
    #quote{
     display:block;
    align-items:center;
    justify-content:center;
    margin: auto;
    
    overflow: auto;
    padding:5px;
   
   
    
   

    }
    hr{
        margin-top: 1rem;
        width:25%;
    text-align:center;
    margin-left: 350px;
    border: 1px solid orange;
}
.heading2{
    margin-top: 1rem;
    margin-bottom:1rem;
    width:25%;
text-align:center;
margin-left: 400px;
border: 1px solid orange;
}
.heading{
    margin-top: 1rem;
    width:25%;
text-align:center;
margin-left: 25px;
border: 1px solid orange;

}
    .py{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: block;
        text-align: center;
        padding:5px;
        
    }
    #quote p{
        text-align: center;
    }
    #main-footer{
        height: 10rem;
    }
    .footer-content{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        height:10rem;
        align-items:center;
        

    }
    .social .fab{
        
        margin-right: 2rem;
       
        height:20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        padding:0.5;
        justify-self:space-between;
    }
    .footer-content1{
        margin:10rem;
       

    }
   
    /*responsive*/
    @media(max-width:768px){
        .navbar{
            flex-direction: column;
            height:120px;
            padding:20px;
        }
        .navbar a{
            padding:10px 10px;
            margin: 0 3px;
        }
        .flex-items{
            flex-direction: column;
        }
        .column-1 img{
           margin:0;
           padding:0;
            
        }
        .column-2{
            margin-top: 0;
        }
        .hero1.row{
            margin:0px;
            padding: 0px;
        }
        
       form{
           display:block;
        
       }
       .formgroup textarea{
           width:400px;
   
       }
        .flex-columns{
            margin:0;
            padding: 0px;
           
       }
       
       .formgroup button{
           
           margin-left: 9rem;
       }
      hr {
        margin-left: 150px;
      }
      .top{
          display:none;
      }
      .hero1{
          height:100vh;
      }
      .column-1 img{
         margin:10px;
          display: none;
          align-items:center;
          padding-left:5px;
          justify-content: space-evenly;
          margin-left: 10rem;
         
      }
     .right{
         display:none;
     }
    .flex-grid .columnn img{
       
display: flex;
flex-direction: row;
    }
        
       
      
    }
        
    }

    

    