.text-primary{
    color:blue;
}

.text-light{
    color:black;
    background-color: white;
}
.text-dark{
    color:white;
    background-color:black;
}
.head{
    color: black;
 
    font-weight: bold;
}
.head1{
    color:white;
   
    
}


.text-secondary{color:blue;}
.text-color{color: orange;
font-weight: 100;}
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color:black;
    background-color:orange;
    border-radius: 5px;

}
.btn:hover{opacity: 0.5;}
.btn1{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color:black;
    background-color:white;
    border-radius: 5px;
    border:1px orange solid;

}
.btn2{
    cursor: pointer;
    display: inline-block;
    padding: 0px 0px;
    color:black;
    background-color:white;
    border-radius: 5px;
    border:1px orange solid;

}
.btn1:hover{opacity: 0.5;}
.btn.primary{
    background: indigo;
    color: lavenderblush;
}
.formgroup input,.formgroup textarea{

background: black;
border: 1px white solid;
}
.flex-items{
display:flex;
text-align:center;
justify-content: center;
height: 100%;

}
.btnn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color:white;
    background-color:orange;
    border-radius: 5px;

}
.flex-items h3{
    color: black;
    font-weight: bold;
   
}
.flex-items p{
    color: black;
    text-align: center;
}
.flex-items >div{
    padding: 20px;
    margin:20px;
}
.row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
}
.btn-outline{
    border:1px orange solid;
    background: transparent;
    color: white;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis:100%;
    flex:1;
    margin:50px;
    padding: 50px;
    
}
.column-1,.column-2{
    height:100%;
}
.flex-columns img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.column-2{
    display:flex;
    flex-direction:column ;
    align-items:flex-start;
    justify-content:center;
    padding:10px;
    
}
.flex-columns{
    display: flex;
    flex-direction:row;
    
}
.column2 h2{
    font-size:40px;
font-weight: 100;
}
.column-2 h4{ 
    margin-bottom:10px;}
.column-2 p{
    margin:10px 0;
}
.column-1 img{
    height:125%;
    width:75%;
    margin-left:15rem;
    margin-right:2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-header{
    padding:2rem;
    margin-left:5rem;
    margin-right: 5rem;
    margin-top: 2rem;  
   
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
text-align: center;}
.section-header h2{
    font-size: 300;
    font-weight: bold;
    margin: 20px,0;

}
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

 .row1{
     display:flex;
     flex-wrap:wrap;
    
     padding:2rem;
        margin-left:5rem;
        margin-right: 5rem;
        margin-top: 2rem;
 }  
 .row1 .columnn{
    
     flex:15%;
     max-width:15%;
     padding:4px 4px;
 }

.box{
    width:200px;
    height: 200px;
    border:1px white solid;
}
